(
    model_path: "assets/obj/cornell_box.obj",
    camera: (
        eye: (0.0, 1.0, 2.1),
        look_at: (0.0, 1.0, 0.0),
        fov: 90.0,
        exposure: 1.0,
    ),
    sun_direction: (-1.0, -0.24, -0.28),
)